/* Nav.css */

.nav-container {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: inline-block;
  margin-right: 20px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}

.user-details-container {
  position: relative;
}

.user-details-popup {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.user-details-container:hover .user-details-popup {
  display: block;
}

.user-details-popup p {
  margin: 0;
  margin-bottom: 5px;
}

.user-details-popup img {
  width: 30px; /* Adjust avatar size as needed */
  height: 30px;
  border-radius: 50%;
}
